body {
  background-color: rgb(17, 17, 17);
}

header img {
  max-width: 120px;
  max-height: 50px;
}

main {
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 100px;
}

h1 {
  color: white;
  font-size: 4em;
  border-bottom: 1px solid grey;
}